.movedImg-wrapper{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* PARENT TRACKS */
.movedImg-track{
    display: flex;
    gap: 15px;
    width: max-content;
}
.track-1{
    animation: move-left 45s linear infinite;

}
.track-2{
    animation: move-right 45s linear infinite;
}

/* CARD */
.movedImg-book-box{
    width: 190px;
    height: 230px;
    background: aliceblue;
    flex-shrink: 0;
    overflow: hidden;
}

/* CHILD SWITCH */
.content-switch{
    display: flex;
    flex-direction: column;
    width:190px ;
    height:  calc(230px * 2);
    animation: switch-horizontal 4s ease-in-out infinite;
}

.movedImg-book-img-container,
.movedImg-book-desc-container{
    width: 190px;
    height: 230px;
}

.movedImg-book-img-container{
    background: green;
}

.movedImg-book-desc-container{
    background: rgb(29, 31, 31);
}

/* PARENT KEYFRAMES */
@keyframes move-left{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

@keyframes move-right{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0);
    }
}

/* CHILD KEYFRAMES */
@keyframes switch-horizontal{
    0%, 40%{
        transform: translateY(0);
    }
    50%, 90%{
        transform: translateY(-230px);
    }
    100%{
        transform: translateY(0);
    }
}
/* */
.movedImg-book-desc div{
    margin-bottom: 10px;
}
.movedImg-book-desc div span{
    color: rgb(88, 88, 87);
    font-weight: bold;
    font-size: 13px;
    display: block;
}

.movedImg-book-img-container img{
    width: 100%;
    height: 100%;

}

